<h1>Situação</h1>
<h3><b>Temperatura:</b> <%= @situation.temp%>°C </h3>
<h3><b>Umidade:</b> <%= @situation.umidity%>% </h3>
<h3><b>Nível de Água:</b> <%= @situation.water_level%> </h3>
<h3><b>Regador:</b> <%= @situation.pump? ? 'Ligado' : 'Desligado'%> </h3>