@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* situation icons */

/*reference

.button-to-provider {
    background-color: #22D12C;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;     
}
*/

.situation-icon-temp-low {
    background-color: #FF3333;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

.situation-icon-temp-high {
    background-color: #FF3333;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

.situation-icon-temp-good {
    background-color: #33FF66;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}



.situation-icon-ground-dry {
    background-color: #FF3333;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}


.situation-icon-ground-wet {
    background-color: #FF3333;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}


.situation-icon-ground-ok {
    background-color: #33FF66;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

.situation-icon-light {
    background-color: #F9FB31;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

.situation-icon-dark {
    background-color: #5D8AA8;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

.watering-button {
    background-color: #89CFF0;
    border-color: #0;
    border-radius: 25px;
    color: #a94442;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

/* nav bar */

.navbar-inverse{
    background-color: #13a515;
    border-color: #13a515;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}